{% extends 'base.html' %}
  {% block title %} Contact Detail {% endblock %}
  {% block content %}
  <div class="header">
    <h1>Contact Detail</h1>
  </div>
  <div class="row_1">
    <ul class="cd w-list-unstyled">
      <li><strong>First Name:</strong> <span class="info">Yauhen</span>
      </li>
      <li><strong>Last Name:</strong> <span class="info">Alkhouski</span>
      </li>
      <li><strong>Birth Date:</strong> <span class="info">20.11.1976</span>
      </li>
      <li><strong>Bio:</strong>
	<br>
	Some bio information
        <br>
	<br>With multiline textfield</li>
      </ul>
  </div>
  <div class="row_2">
    <ul class="cd w-list-unstyled">
      <li><span><strong>email</strong>:</span> zzre@gmail.com</li>
      <li><span><strong>Cellphone</strong></span>: 3752960196</li>
      <li><span><strong>Skype</strong></span>: iameu</li>
      <li><span><strong>Jabber</strong></span>: iam@42cc.co</li>
      <li><span><strong>Other</strong> contact:&nbsp;</span>
      <br>Some other contact
      <br>with multiline</li>
    </ul>
  </div>
  <div class="footer"></div>
  {% endblock %}
